<div class = "form">
<%= form_with model: @contact do |form| %>
   <div class = "contact_image">
    <%= form.label :image %><br>
    <%= form.file_field :image %>
   </div>

   <div>
      <%= form.label :first_name %><br>
      <%= form.text_field :first_name %>
      <% @contact.errors.full_messages_for(:first_name).each do |message| %>
        <div class = "message"><%= message %></div>
      <% end %>   
    </div> 
    
    <div>
      <%= form.label :last_name %><br>
      <%= form.text_field :last_name %>
    </div> 
    
    <div>
      <%= form.label :phone_number %><br>
      <%= form.text_field :phone_number %>
      <% @contact.errors.full_messages_for(:phone_number).each do |message| %>
        <div class = "message"><%= message %></div>
      <% end %> 
    </div> 

    <div>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
      <% @contact.errors.full_messages_for(:email).each do |message| %>
        <div class = "message"><%= message %></div>
      <% end %> 
    </div> 
    
    <div>
      <%= form.label :company_name %><br>
      <%= form.text_field :company_name %>
    </div> 

    <div>
      <%= form.label :birthday %><br>
      <%= form.date_field :birthday %>
    </div> 

    <div>
      <%= form.label :address %><br>
      <%= form.text_area :address %>
    </div> 

    <div class = "button">
      <%= form.submit :Save%>
      <%= link_to "Back", root_path(@contact) %>
    </div>  
<% end %>  
</div>
     