<div class = "main">
   <h1>Contact Details</h1>
   <script src="https://kit.fontawesome.com/769209a579.js" crossorigin="anonymous"></script>
</div>

<div class = "details">
  <% if @contact.image.attached? %>
    <%= image_tag(@contact.image,:class => "image") %>
  <% else %>
    <img class="image" src="https://cdn-icons-png.flaticon.com/512/149/149071.png">
  <% end %>
  <hr>
  <div class = "first_name">
    <h3><%= @contact.first_name %></h3>
    <h3><%= @contact.last_name %></h3>
  </div>

  <p><i class="fa-solid fa-phone"></i><%= @contact.phone_number %></p>
  <p><i class="fa-solid fa-at"></i> <%= @contact.email %></p>
  <p><i class="fa-solid fa-building"></i><%= @contact.company_name %></p>
  <p><i class="fa-solid fa-cake-candles"></i><%= @contact.birthday %></p>
  <p><i class="fa-solid fa-location-dot"></i><%= @contact.address %></p>
</div>
<div class = "options">
  <ul> 
   <li><%= link_to "Edit Contact", edit_contact_path(@contact) %></li>
   <li><%= link_to "Delete Contact", @contact, data: { 'method': :delete, 'confirm': "Are you sure?" } %></li>
   <li><%= link_to "Home", root_path(@contact) %></li>
 </ul>
</div>