<p>Contact image: <%= @contact.photo %></p>
<div class = "first_name">
  <h3><%= @contact.first_name %></h3>
  <h3><%= @contact.last_name %></h3>
</div>
<div class = "details">
  <p>Contact Number: <%= @contact.phone_number %></p>
  <p>E-mail        : <%= @contact.email %></p>
  <p>Company Name  : <%= @contact.company_name %></p>
  <p>Birthday      : <%= @contact.birthday %></p>
  <p>Address       : <%= @contact.address %></p>
</div>

<ul> 
  <li><%= link_to "Edit Contact", edit_contact_path(@contact) %></li>
  <li><%= link_to "Delete Contact", @contact, data: { 'method': :delete, 'confirm': "Are you sure?" } %></li>
  <li><%= link_to "Home", root_path(@contact) %></li>
</ul>